<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pocketdoctor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_main"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_main"
        android:largeHeap="true"
        android:hardwareAccelerated="false"
        android:supportsRtl="true"
        android:theme="@style/Theme.PocketDoctor">
        <activity
            android:name=".LoginPage"
            android:exported="false" />
        <activity
            android:name=".UploadPrescription"
            android:exported="false" />
        <activity
            android:name=".UpdatedMyAccount"
            android:exported="false" />
        <activity
            android:name=".LoginInside"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="true"
            android:theme="@style/Theme.PocketDoctor.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyAccount"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>